/* Borrow popup */
.borrow_popup {
    display: none;
    position: absolute;
    top: 1vw;
    left: 10vw;
    z-index: 2;
    height: 40vw;
    width: 80vw;
    background-image: linear-gradient(129.8deg, #131835 21.79%, #5F1A4E 101.8%);
    border-radius: 6px;
    overflow: hidden;
}

.borrow_popup i {
    position: absolute;
    top: 0;
    font-size: 35px;
    right: 8px;
    color: white;
    cursor: pointer;
}

.left_popup {
    width: 45%;
    height: 100%;
    background-size: cover;
    background-position-x: 52%;
}

.right_popup {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 55px 85px;
}

.right_popup input {
    border: 0;
    height: 40px;
    color: white;
    outline: none;
    font-size: 17px;
    padding-left: 16px;
    width: 95%;
    background: #4B334A;
    border-radius: 1px;
}

.borrow_bttn_popup{
    width: 30%;
    background: #8D1764;
    border-radius: 1px;
    border: 0;
    color: white;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

/* fetch Info */
.borrow_section {
    text-align: left;
}

.fetch_info {
    display: flex;
    height: 200px;
    text-align: left;
    font-size: 22px;
}

.left_info_popup {
    display: flex;
    flex-direction: column;
    color: #C06BC2;
    font-size: 18px;
    row-gap: 10px;
    width: 50%;
}

.right_info_popup {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    row-gap: 10px;
}

.input_borrow {
    display: flex;
    justify-content: left;
    column-gap: 20px;
    margin: 15px 0px;
}

.input_borrow input {
    width: 50%;
}

.borrow_absent {
    height: 200px;
}


/* Lending Popup*/
.lend_popup {
    display: none;
    position: absolute;
    top: 1vw;
    left: 10vw;
    z-index: 3;
    height: 40vw;
    width: 80vw;
    background-image: linear-gradient(131.46deg, #07132B 22.81%, #1D587A 99.86%);
    border-radius: 6px;
    overflow: hidden;
}

.lend_popup i {
    position: absolute;
    top: 0;
    font-size: 35px;
    right: 8px;
    color: white;
    cursor: pointer;
}

.fetch_info_lend {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 45px;
}

.fetch_info_lend div {
    font-weight: 700;
    font-size: 25px;
    color: #347EEC;
}
.fetch_info_lend span{
    color: white;
    font-size: 21px;
}

.lend_info {
    display: flex;
    column-gap: 185px;
}
.input_borrow_lend{
    display: flex;
    justify-content: left;
    column-gap: 20px;
    margin-top: 45px;
    margin-bottom: 15px;
}
.input_borrow_lend input{
    background: #344E6E;
}
.lend_bttn_popup{
    background-color: #2347C6;
    width: 30%;
    border-radius: 1px;
    border: 0;
    color: white;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}
.lend_section{
    text-align: left;
}