.portfolio_main {
    background-image: linear-gradient(122.82deg, rgb(11, 9, 80) 0%, black 69.63%);
    color: white;
}

.user_portfolio_section {
    padding-top: 55px;
    padding-left: 55px;
}

.user_section_head {
    text-align: left;
    font-weight: 700;
    font-size: 50px;
}

.user_content {
    margin-top: 75px;
    display: flex;
    column-gap: 75px;
    text-align: left;
}

.left_content {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
}

.left_content img {
    width: 120%;
}

.right_content {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 38px;
}

.right_content1 {
    display: flex;
    column-gap: 50px;
}

.right_content1 div {
    width: 300px;
    font-weight: 700;
    font-size: 27px;
}

.right_content1 span {
    font-weight: 400;
    font-size: 20px;
}

.right_content2 {
    font-weight: 700;
    font-size: 27px;
}

.right_content2 span {
    font-weight: 400;
    font-size: 20px;
}

/* Lend */
.lend_history {
    margin-top: 55px;
    padding-left: 55px;
}

.lend_history_head {
    font-weight: 700;
    font-size: 45px;
    text-align: left;
}

.lend_history_card_holder {
    margin-top: 85px;
    display: flex;
    column-gap: 35px;
    justify-content: left;
}

.lend_history_card {
    position: relative;
    padding: 25px;
    background-image: linear-gradient(120deg, rgb(36, 10, 131), 70%, rgb(160, 19, 173));
    text-align: left;
    height: 250px;
    width: 450px;
}

.lend_history_name {
    font-weight: 700;
    font-size: 37px;
}

.lend_history_content1 {
    margin-top: 40px;
    display: flex;
    column-gap: 65px;
    font-weight: 700;
    font-size: 24px;
}

.lend_history_content1 span {
    font-weight: 400;
    font-size: 19px;
}

.lend_history_content2{
    margin-top: 15px;
    font-weight: 700;
    font-size: 24px;
}
.lend_history_content2 span {
    font-weight: 400;
    font-size: 19px;
}
.portfolio_lend_bttn{
    position: absolute;
    right: 0;
    padding: 10px 35px;
    font-size: 15px;
    border: 0;
    background-color: rgb(53, 20, 72);
    color: white;
    width: 140px;
    cursor: pointer;
    bottom: 14px;
    right: 18px;
}

/* Borrow */
.borrow_history {
    margin-top: 55px;
    padding-left: 55px;
    padding-bottom: 105px;
}

.borrow_history_head {
    font-weight: 700;
    text-align: left;
    font-size: 43px;
}

.borrow_history_card_holder {
    margin: 35px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.borrow_history_main_card {
    display: flex;
    justify-content: left;
    width: 95%;
    height: 370px;
    background-image: linear-gradient(120deg, rgb(0, 0, 81),rgb(63, 55, 86));
}

.left_borrow_card_history {
    display: flex;
    justify-content: center;
    width: 35%;
    overflow: hidden;
}

.right_borrow_card_history {
    position: relative;
    padding: 10px 35px;
    padding-right: 0;
    text-align: left;
}

.right_borrow_card_history1 {
    width: 100%;
}

.borrow_card_name {
    font-weight: 700;
    font-size: 43px;
}

.date_borrow_card {
    position: absolute;
    right: 0;
    top: 15px;
    font-weight: 400;
    font-size: 20px;
}

.right_borrow_card_history2 {
    margin-top: 45px;
    display: flex;
    column-gap: 35px;
    font-weight: 700;
    font-size: 24px;
}
.right_borrow_card_history2 div{
    width: 370px;
    margin-right: 40px;
}
.right_borrow_card_history3 div{
    width: 370px;
    margin-right: 40px;
}

.borrow_small{
    font-weight: 400;
    font-size: 18px;
}
.right_borrow_card_history3 {
    column-gap: 35px;
    margin-top: 28px;
    display: flex;
    font-weight: 700;
    font-size: 24px;
}

.right_borrow_card_history3 span {
    font-weight: 400;
    font-size: 18px;
}

.portfolio_borrow_bttn{
    margin-top: 35px;
    padding: 10px 35px;
    font-size: 18px;
    border: 0;
    background-color: rgb(84, 84, 140);
    color: white;
    width: 150px;
    cursor: pointer;
}