.App {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: linear-gradient(122.82deg, rgb(11, 9, 80) 0%, black 69.63%);
}

body{
  overflow-y: overlay;
}
body::-webkit-scrollbar{
  background-color: transparent;
  width: 8px;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(53, 64, 105);
}